* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: mont;
  }

@font-face {
    font-family: monument;
    src: url(./Font/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf);
  }
  
  @font-face {
    font-family: mont;
    src: url(./Font/Montserrat/Montserrat-VariableFont_wght.ttf);
  }